
<div class="widget-text widget">
	<h4 class=widget__title>About</h4>
	<div class=widget__content>
		<p>Hello, My name is Yon ("หยง" in Thai)<br>
            I'm 20 years old, currently studying in college.<br>
            My Major is IT Department.<br><br>
            My online name goes by "NETiSACK"<br>
            I write shell scripts and PWAs in free time.<br><br>
            I'm using Fujitsu ARROWS Tab Q509 (Tablet PC) as daily driver that currently running ChromeOS with Brunch Framework.<br><br>
            In here you can find articles about ChromeOS, Brunch-f2fs, original Brunch Framework, Linux, other tech and maybe about mundane stuffs.<br><br>
            Hope you find something helpful here.<br>
            Have a good day o/<p>
	</div>
</div>
